numpy
pandas
scipy
matplotlib
scikit-learn
tensorflow==2.17.0
tensorflow-probability
tensorboard
tensorflow-datasets
tensorflow-hub

xgboost
graphviz
opencv-python
Pillow

gymnasium
pygame
ipywidgets
tqdm
requests
nbdime

